body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('https://gas-kvas.com/uploads/posts/2023-02/1675427118_gas-kvas-com-p-fonovii-risunok-obucheniya-3.png') no-repeat center center fixed;
    background-size: cover;
}

.calculator {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 360px;
    padding: 20px;
    margin-bottom: 20px;
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    font-size: 2em;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.display input {
    background-color: #222;
    border: none;
    color: #fff;
    font-size: 2em;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    border: none;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:active {
    transform: scale(0.95);
}

.btn-number {
    background-color: #f9f9f9;
    color: #333;
}

.btn-number:hover {
    background-color: #e0e0e0;
}

.btn-operator {
    background-color: #f1c40f;
    color: #fff;
}

.btn-operator:hover {
    background-color: #e1b40d;
}

.btn-clear, .btn-delete {
    background-color: #e74c3c;
    color: #fff;
}

.btn-clear:hover, .btn-delete:hover {
    background-color: #c0392b;
}

.btn-equals {
    background-color: #2ecc71;
    color: #fff;
    grid-column: span 2;
}

.btn-equals:hover {
    background-color: #27ae60;
}

.zero {
    grid-column: span 2;
}

.btn-function {
    background-color: #3498db;
    color: #fff;
}

.btn-function:hover {
    background-color: #2980b9;
}

.watermark {
    font-size: 0.8em;
    color: #fff;
    text-align: center;
}
