body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    font-size: 2em;
    padding: 10px;
}

.display input {
    background-color: #222;
    border: none;
    color: #fff;
    font-size: 2em;
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: none;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

button:active {
    background-color: #e0e0e0;
}

button:nth-child(4n) {
    background-color: #f1c40f;
    color: #fff;
}

button:nth-child(4n):active {
    background-color: #e1b40d;
}

.zero {
    grid-column: span 2;
}
